@model FileSystemBAL.Division.Models.Division;
@{
    Layout = "_LayoutAdmin";
    ViewBag.Title = "Shelves Detail";
}
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-8">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0">Shelves Detail</h4>
            </div>
        </div>
        <div class="col-4" style="float:right;">
            <a class="btn btn-danger" style="float: right;" asp-area="Admin" asp-controller="Shelves" asp-action="Index">Back</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <form class="custom-validation" asp-action="saveShelves" asp-controller="Shelves" asp-area="Admin" novalidate="">
                        <div class="mb-3">
                            <label class="form-label">Zone Name</label>
                            <select class="select2 form-control select2-multiple" data-placeholder="Choose ...">
                                <option value="">Select Zone Name</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Division Name</label>
                            <select class="select2 form-control select2-multiple" data-placeholder="Choose ...">
                                <option value="">Select Division Name</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Department Name</label>
                            <select class="select2 form-control select2-multiple" data-placeholder="Choose ...">
                                <option value="">Select Department Name</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Store Name</label>
                            <select class="select2 form-control select2-multiple" data-placeholder="Choose ...">
                                <option value="">Select Store Name</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Room Number</label>
                            <select class="select2 form-control select2-multiple" data-placeholder="Choose ...">
                                <option value="">Select Room Number</option>
                            </select>
                        </div>
                         <div class="mb-3">
                            <label class="form-label">Almirah Number</label>
                            <select class="select2 form-control select2-multiple" data-placeholder="Choose ...">
                                <option value="">Select Almirah Number</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Shelves Number</label>
                            <input type="text" class="form-control" placeholder="Shelves Number">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Status</label>
                            <select class="select2 form-control select2-multiple" data-placeholder="Choose ...">
                                <option value="">Select Statud</option>
                                <option value="1">Active</option>
                                <option value="2">Inactive</option>
                            </select>
                        </div>
                        <div>
                            <div>
                                <button type="submit" class="btn btn-primary waves-effect waves-light me-1">
                                    Submit
                                </button>
                                <button type="reset" class="btn btn-secondary waves-effect">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
}
