@model  List<FileSystemBAL.Category.Models.CategoryListResult>
<a asp-area="Admin" asp-controller="Category" asp-action="Detail"> Add New Category</a>
@using FileSystemBAL.Category.Models

 @foreach(CategoryListResult category in Model)
 {
     <a asp-area="Admin" asp-controller="Category" asp-action="Detail" asp-route-id="@category.unCategoryId" >@category.stCategoryName</a>
 }