@model FileSystemBAL.User.Models.UserProfile
@{
    Layout = "_LayoutDeskAdmin";
    ViewBag.Title = "Shelves Detail";
}
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-8">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0">User Detail</h4>
            </div>
        </div>
        <div class="col-4" style="float:right;">
            <a class="btn btn-danger" style="float: right;" asp-area="DeskAdmin" asp-controller="User" asp-action="Index">Back</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <form class="custom-validation" asp-action="SaveUserProfile" asp-controller="User" asp-area="DeskAdmin" novalidate="">
                        <div class="mb-3">
                            <label class="form-label">Select User Role</label>
                            <select id="ddRole" asp-for="inRole" class="select2 form-control select2-multiple" data-placeholder="Choose ...">
                                <option value="">Select Role</option>
                                <option value="5">Desk OP</option>
                            </select>
                            <span asp-validation-for="inRole" class="text-danger"></span>
                        </div>                      
                        <div class="mb-3">
                            <label class="form-label">Desk Name</label>
                            <select id="ddDesk" asp-for="inDeskid" class="select2 form-control select2-multiple" data-placeholder="Choose ..." asp-items="@(new SelectList(Model.DeskList,"id","value"))">
                                <option value="">Select Zone Name</option>
                            </select>
                            <span asp-validation-for="inDeskid" class="text-danger"></span>
                        </div>
                         <div class="mb-3">
                            <label class="form-label">Department Name</label>
                            <select id="ddDepartment" onchange="OnSChange();" asp-for="inDepartmentId" class="select2 form-control select2-multiple" data-placeholder="Choose ..." asp-items="@(new SelectList(Model.DepartmentList,"id","value"))">
                                <option value="">Select Department Name</option>
                            </select>
                            <span asp-validation-for="inDepartmentId" class="text-danger"></span>
                        </div>
                        
                        <div class="mb-3">
                            <label class="form-label">Designation Name</label>
                            <select id="ddDesignation" asp-for="inDesignationId" class="select2 form-control select2-multiple" data-placeholder="Choose ...">
                                <option value="">Select Department Name</option>
                            </select>
                            <span asp-validation-for="inDesignationId" class="text-danger"></span>
                        </div>                       

                        <div class="mb-3">
                            <label class="form-label">First Name</label>
                            <input asp-for="stFirstName" type="text" class="form-control" placeholder="First Name">
                            <span asp-validation-for="stFirstName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Last Name</label>
                            <input asp-for="stLastName" type="text" class="form-control" placeholder="Last Name">
                            <span asp-validation-for="stLastName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input asp-for="stEmail" type="text" class="form-control" placeholder="Email">
                            <span asp-validation-for="stEmail" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Mobile</label>
                            <input asp-for="stMobile" type="text" class="form-control" placeholder="Mobile">
                            <span asp-validation-for="stMobile" class="text-danger"></span>
                        </div>
                        <div class="mb-3 d-none">
                            <label class="form-label">Address</label>
                            <input asp-for="stAddress" type="text" class="form-control" placeholder="Address">
                            <span asp-validation-for="stAddress" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Status</label>
                            <select asp-for="inStatus" class="select2 form-control select2-multiple" data-placeholder="Choose ...">
                                <option value="">Select Statud</option>
                                <option value="1">Active</option>
                                <option value="2">Inactive</option>
                            </select>
                        </div>
                        <div>
                            <div>
                                <button type="submit" class="btn btn-primary waves-effect waves-light me-1">
                                    Submit
                                </button>
                                <button type="reset" class="btn btn-secondary waves-effect">
                                    Cancel
                                </button>
                            </div>
                        </div>
                        <input type="hidden" asp-for="inUserProfileId" />
                        <input type="hidden" asp-for="unUserProfileId" />
                        <input type="hidden" asp-for="inDeskid" />
                        <input type="hidden" asp-for="inZoneId" />
                        <input type="hidden" asp-for="inDepartmentId" />
                        <input type="hidden" asp-for="inDivisionId" />
                        <input type="hidden" asp-for="inDesignationId" />
                        <input type="hidden" asp-for="inStoreId" />
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
    <script src="~/Scripts/Common/Common.js" asp-append-version="true"></script>
    <script type="text/javascript">
        var msGetDesignationDropDown = '@Url.Action("GetDesignationDropDown")';
            $(document).ready(function () {
                OnDepartmentChange(true);
        });
    </script>
    <script src="~/Scripts/Common/Dropdown.js" asp-append-version="true"></script>
}  