@{
    Layout = "_LayoutDeskAdmin";
    ViewBag.Title = "Dashboard";
}<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Dashboard</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-3 col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex text-muted">
                    <div class="flex-grow-1 overflow-hidden">
                        <p class="mb-1 font-weight-bold">Total Users</p>
                        <p class="text-truncate mb-0">
                            <span class="text-success me-2">Store User </span> 2
                        </p>
                        <p class="text-truncate mb-0">
                            <span class="text-success me-2">Desk Operator </span> 200
                        </p>
                    </div>
                </div>
            </div>
            <!-- end card-body -->
        </div>
        <!-- end card -->
    </div>

    <div class="col-xl-3 col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex text-muted">
                    <div class="flex-grow-1 overflow-hidden">
                        <p class="mb-1 font-weight-bold">Pending Files</p>
                        <p class="text-truncate mb-0">
                            <span class="text-success me-2">Store Pending </span> 133
                        </p>
                        <p class="text-truncate mb-0">
                            <span class="text-success me-2">User Pending </span> 231
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex text-muted">
                    <div class="flex-grow-1 overflow-hidden">
                        <p class="mb-1 font-weight-bold">Pending Case</p>
                        <p class="text-truncate mb-0">
                            <span class="text-success me-2">User Case Pending </span> 231
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex text-muted">
                    <div class="flex-grow-1 overflow-hidden">
                        <p class="mb-1 font-weight-bold">OWN Pending</p>
                        <p class="text-truncate mb-0">
                            <span class="text-success me-2">Pending Accept File</span> 22
                        </p>
                        <p class="text-truncate mb-0">
                            <span class="text-success me-2">Pending Case</span> 32
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- end page title -->

@section Scripts {
    <!-- apexcharts js -->
    <script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/js/pages/dashboard.init.js"></script>
}