@model FileSystemBAL.IssueFIleHistory.Models.GetAssignFileDetailResult
@{
    Layout = "_LayoutDeskOP";
    ViewBag.Title = "Assign File Detail";
    
}
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-8">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0">Assign File Detai</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <form class="custom-validation" asp-action="AcceptAssignFile" asp-controller="AssignFile" asp-area="DeskOP" novalidate="">
                        <div class="mb-3">
                            <label class="form-label">File Name</label>
                            <input asp-for="stFileName" type="text" class="form-control" placeholder="Division Name" readonly>
                           
                        </div>
                        <div class="mb-3">
                            <label class="form-label">User Name</label>
                            <input asp-for="stUserName" type="text" class="form-control" placeholder="Division Name" readonly>
                            
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Department Name</label>
                            <input asp-for="stDepartmentName" type="text" class="form-control" placeholder="Division Name" readonly>
                           
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Division Name</label>
                            <input asp-for="stDivisionName" type="text" class="form-control" placeholder="Division Name" readonly>
                            
                        </div>
                         <div class="mb-3">
                            <label class="form-label">Comment</label>
                            <textarea asp-for="stComment" class="form-control" placeholder="Division Name" readonly></textarea>
                            
                        </div>
                        <div>
                            <div>
                                <button type="submit" class="btn btn-primary waves-effect waves-light me-1">
                                    Accept
                                </button>
                                <button type="reset" class="btn btn-secondary waves-effect">
                                    Cancel
                                </button>
                            </div>
                        </div>
                       
                        <input type="hidden" asp-for="inAssignUserId"/>
                        <input type="hidden" asp-for="inlssueFileId"/>
                        <input type="hidden" asp-for="inStoreFileDetailsId"/>
                    </form>
                </div>

            </div>
        </div>
    </div> <!-- end col -->
</div>