@model FileSystemBAL.Zone.Models.Zone
@{
    Layout = "_LayoutAdmin";
    ViewBag.Title = "Add Designation";
}
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-8">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0">Add Designation</h4>
            </div>
        </div>
        <div class="col-4" style="float:right;">
            <a class="btn btn-danger" style="float: right;" asp-area="Admin" asp-controller="Designation" asp-action="Index">Back</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <form asp-action="SaveDepartment" asp-controller="Designation" asp-area="Admin" class="custom-validation" novalidate="">
                        <div class="mb-3">

                            <label class="form-label">Designation Name</label>
                            <input type="text" class="form-control" placeholder="Designation Name">
                        </div>
                        <div>
                            <div>
                                <button type="submit" class="btn btn-primary waves-effect waves-light me-1">
                                    Submit
                                </button>
                                <a class="btn btn-secondary waves-effect" asp-area="Admin" asp-controller="Designation" asp-action="Index">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
}
